.banner {
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    margin: 5px;
}

.previewcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;

}

.item {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.indicator {
    display: block;
    margin: auto;
}