<html>
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <h1 class="banner">Welcome to the {{ title }} page!</h1>
        <h3 class="banner">You are logged in as <i>{{ username }}</i>.</h3>
        <div class="previewcontainer">
            {% for p in previews %}
                {{ p|safe }}
            {% endfor %}
        </div>
    </body>
</html>